[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = ">=3.5"
pyserial-asyncio = "==0.6"
rich = "==13.9.4"

[dev-packages]
black = ">=24.10.0"
flake8 = ">=7.1.1"

[requires]
python_version = "3.12"

[scripts]
format = "black ."
lint = "flake8 ."
